* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  background: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
}

.workouts-history,
.workouts-types,
.workouts-excercises {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 32%;
  padding: 16px;
}

.workouts-history {
  background-color: #df1b3f;
}

.workouts-types {
  background-color: #19204e;
}

.workouts-excercises {
  background-color: #fcb300;
}

.workouts,
.excercises,
.excercise,
.sets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.add,
.workout,
.excercise-details,
.save {
  width: 90%;
  min-height: 48px;
  margin-top: 8px;
  padding: 0px 16px;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.close {
  width: 100%;
  margin-bottom: 16px;
  text-align: right;
}

.close button {
  font-size: 1.5rem;
  float: right;
  color: white;
}

.workout,
.excercise-details,
.set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.name,
.button-wrapper {
  flex-grow: 1;
  flex-basis: 0;
}

.name {
  width: 70%;
}

.button-wrapper {
  width: 10%;
}

.delete,
.edit,
.show-excercises,
.show-repetitions {
  float: right;
}

.edit {
  margin-right: 16px;
}

.sets {
  margin-top: 6px;
}

.set {
  width: 90%;
  height: 40px;
  margin-top: 2px;
  padding: 0px 16px;
  border-radius: 4px;
}

.set input {
  width: 40%;
  padding: 2px 0;
  border-radius: 4px;
  background-color: #ededed;
  outline: none;
}

.set input:focus {
  border: 1px solid black;
}

.set span {
  text-align: center;
}

.set-number {
  width: 15%;
}

.hide {
  display: none;
}
